# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React Native
MobileApp/node_modules/
MobileApp/android/app/build/
MobileApp/android/build/
MobileApp/ios/Pods/
MobileApp/ios/build/

# Env
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
